{{! LOGIN FORM }}
<div class="uk-text-center login-forms" ukgrid>
  <div class="uk-width-expand">
    <h1>LOG IN</h1>
    <form class="login-form">

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" placeholder="username" id="username-login" />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="text" placeholder="password" id="password-login" />
        </div>
      </div>
      <button class="uk-button uk-button-default uk-width-1-3">SUBMIT</button>
    </form>
  </div>

  <div class="uk-divider-vertical"> </div>
  {{! CREATE NEW USER FORM }}
  <div class="uk-width-expand">
    <h1>CREATE ACCOUNT</h1>
    <form class="login-form">
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" type="text" placeholder="username" id="username-signup" />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <input class="uk-input" type="text" placeholder="name@email.com" id="email-signup" />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" type="text" placeholder="password" id="password-signup" />
        </div>
      </div>
      <button class="uk-button uk-button-default uk-width-1-3">SUBMIT</button>
    </form>
  </div>
</div>