* {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Mono', monospace;
    font-weight: bold;
}

.navbar-brand {
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav a {
    font-family: 'DM Mono', monospace;
    font-size: 2rem
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    margin: 4rem
}

.login-forms {
    display: flex;
    justify-content: space-around;
}

.login-forms col {
    flex-basis: auto;
    align-content: center;

}

.uk-divider-vertical {
    margin: 0;
    height: 200px;
    display: flex;
    align-self: center;
}

.uk-comment, .comment-form {
    margin-top: 2rem;
}

.new-post-form, .dashboard {
    margin-left: 4rem;
    margin-right: 4rem;
}

.dashboard-posts {
    margin: 4rem 4rem 0 4rem;
}

.dashboard-list {
    padding-bottom: 2rem;
}

.uk-article-title a {
    font-weight: bold;
    font-size: 1.5rem;
}